.local-navigation {
  position: fixed;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  .nav {
    position: relative;
    width: 4em;
  }
  .nav-item {
    line-height: 1;
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 0;
    letter-spacing: 0;
    color: currentColor;
    border: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .white-nav-item {
    color: #fff !important;
  }

  .nav-item:focus {
    outline: none;
  } 

  a {
    width: 4em;
    display: block;
    margin: 1.25rem;
    outline: none;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #83AAFC;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 1s, background-color 1s;
    transition: transform 1s, background-color 1s;
  }

  .nav-item:not(.active):hover::after {
    background: #3574FA;
    -webkit-transition: background-color 0.6s transform 1s;
    transition: background-color 0.6s transform 1s;
    -webkit-transform: scale3d(0.2, 1, 1);
    transform: scale3d(0.2, 1, 1);
  }
  .nav-item:hover {
    .nav-title {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .active::after {
    background: #3574FA;
    -webkit-transform: scale3d(0.2, 1, 1);
    transform: scale3d(0.2, 1, 1);
  }

  .nav-title {
    color: #000;
    mix-blend-mode: difference;
    margin: 0 0 0 2em;
    opacity: 0;
    display: block;
    width: 95px;
    -webkit-transform: translate3d(2em, 0, 0);
    transform: translate3d(2em, 0, 0);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, color 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

  .active .nav-title {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
 
}

@media screen and (max-width: 768px) {
  .local-navigation {
    display: none;
  }
  .Navigation {
    display: inherit !important;
  }
}

.Navigation {
  z-index: 200 !important;
  right: -10px !important;
  display: none;
}